.NavbarItems{
    flex: 1;
    display: flex   ;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.Navbar-logo{
    
    color: azure;
    justify-content: start;
    margin-left:20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    padding-top: 2px;
    width: max-content;
}
.logo{
    padding-top: 20px;
    size: 5.5em;
    padding-bottom: 0;
    margin: 0;
    color: rgb(3, 40, 61,0.719);
    shape-rendering: 12%;
   
}
.logo:hover{
    color: rgb(121, 153, 65);
    shape-margin: 2%;
    
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    width: 30vw;
    color: darkolivegreen;
    margin-right: 2rem;
}
.nav-link{
    color: white;
    background-color: rgb(3, 40, 61,0.719);
    border-radius: 20px;    
    text-decoration: none;
    text-shadow: rgb(2, 2, 2);
    padding: 0.5rem 1rem;
}
.nav-link:hover{
    background-color: rgba(125, 146, 32, 0.719);
    color: rgb(210, 216, 219);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}
.nav-link-mobile{
    display: none;
}
/* const logos = require('../../assest/jrent.png');  */
.imgback{
    background-image: url('../../assest/jrent.png');
    width:250px;
     height:50px
}