.img-container{
    /* width:800px;     */
    align-items: center;
    justify-items: center;
    padding-left: 10%;
    display: block;
   
        
}
.img-style{
    justify-content: center;
    height: fit-content;
    align-items: center;
    background-size: cover;
    /* max-height: 1000px; */
    max-height: inherit;
    max-width: 1000px  ;
}

.carousel .thumb {
    height: 300px;
    max-width: 300px;
}
.carousel .control-dots {
    color: rgb(145, 235, 0);
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #f00946;
}